In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import warnings
import os

In [2]:
# Suppress warnings for cleaner output
warnings.filterwarnings('ignore')

# Set Pandas display options to see all columns clearly in console
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [5]:
df = pd.read_csv("flight-price-prediction/clean_data_v2.csv")
df

         Airline   Source Departure Time Stops   Arrival Time Destination     Class  Duration  Days Left  Price
0       SpiceJet    Delhi        Evening  zero          Night      Mumbai   Economy       130          1   5953
1       SpiceJet    Delhi  Early_Morning  zero        Morning      Mumbai   Economy       140          1   5953
2        AirAsia    Delhi  Early_Morning  zero  Early_Morning      Mumbai   Economy       130          1   5956
3        Vistara    Delhi        Morning  zero      Afternoon      Mumbai   Economy       135          1   5955
4        Vistara    Delhi        Morning  zero        Morning      Mumbai   Economy       140          1   5955
...          ...      ...            ...   ...            ...         ...       ...       ...        ...    ...
300148   Vistara  Chennai        Morning   one        Evening   Hyderabad  Business       605         49  69265
300149   Vistara  Chennai      Afternoon   one          Night   Hyderabad  Business       625         49  77105
300150   Vistara  Chennai  Early_Morning   one          Night   Hyderabad  Business       830         49  79099
300151   Vistara  Chennai  Early_Morning   one        Evening   Hyderabad  Business       600         49  81585
300152   Vistara  Chennai        Morning   one        Evening   Hyderabad  Business       605         49  81585

[300153 rows x 10 columns]