In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)

In [4]:
df = pd.read_csv('flight-price-prediction/clean_data_v2.csv')
df.head()

    Airline Source Departure Time Stops   Arrival Time Destination    Class  Duration  Days Left  Price
0  SpiceJet  Delhi        Evening  zero          Night      Mumbai  Economy       130          1   5953
1  SpiceJet  Delhi  Early_Morning  zero        Morning      Mumbai  Economy       140          1   5953
2   AirAsia  Delhi  Early_Morning  zero  Early_Morning      Mumbai  Economy       130          1   5956
3   Vistara  Delhi        Morning  zero      Afternoon      Mumbai  Economy       135          1   5955
4   Vistara  Delhi        Morning  zero        Morning      Mumbai  Economy       140          1   5955

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Airline         300153 non-null  object
 1   Source          300153 non-null  object
 2   Departure Time  300153 non-null  object
 3   Stops           300153 non-null  object
 4   Arrival Time    300153 non-null  object
 5   Destination     300153 non-null  object
 6   Class           300153 non-null  object
 7   Duration        300153 non-null  int64
 8   Days Left       300153 non-null  int64
 9   Price           300153 non-null  int64
dtypes: int64(3), object(7)
memory usage: 22.9+ MB

In [6]:
df['Class'].value_counts()

Class
Economy     206666
Business     93487
Name: count, dtype: int64