In [2]:
pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in c:\users\pengu\anaconda3\lib\site-packages (from opendatasets) (4.66.4)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: click in c:\users\pengu\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\pengu\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: charset-normalizer in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.7)
Requirement already satisfied: protobuf in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.2)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (69.5.1)
Requirement already satisfied: six>=1.10 in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.2)
Requirement already satisfied: webencodings in c:\users\pengu\anaconda3\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in c:\users\pengu\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.2)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   -------------------------------------- - 174.1/181.2 kB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 181.2/181.2 kB 3.6 MB/s eta 0:00:00
Installing collected packages: kaggle, opendatasets
Successfully installed kaggle-1.7.4.5 opendatasets-0.1.22
Note: you may need to restart the kernel to use updated packages.

In [2]:
import opendatasets as od

# This will download the data into a folder named "flight-price-prediction"
od.download("https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  BrandonTang95

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction
Downloading flight-price-prediction.zip to .\flight-price-prediction

100%|██████████████████████████████████████████████████████████████████████████████| 4.16M/4.16M [00:00<00:00, 586MB/s]

In [3]:
import pandas as pd

df = pd.read_csv('flight-price-prediction/Clean_Dataset.csv')
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585