In [3]:
# Imports for linear regression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [6]:
import warnings

# Suppress warnings for cleaner output
warnings.filterwarnings('ignore')

# Set Pandas display options to see all columns clearly in console
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [7]:
df = pd.read_csv('flight-price-prediction/flight_price_processed.csv')
df

        Stops  Class  Duration  Days Left  Price  Airline_Air_India  Airline_GO_FIRST  Airline_Indigo  Airline_SpiceJet  Airline_Vistara  Source_Chennai  Source_Delhi  Source_Hyderabad  Source_Kolkata  Source_Mumbai  Destination_Chennai  Destination_Delhi  Destination_Hyderabad  Destination_Kolkata  Destination_Mumbai  Departure Time_Early_Morning  Departure Time_Evening  Departure Time_Late_Night  Departure Time_Morning  Departure Time_Night  Arrival Time_Early_Morning  Arrival Time_Evening  Arrival Time_Late_Night  Arrival Time_Morning  Arrival Time_Night
0           0      0 -1.397994  -1.843875   5953                  0                 0               0                 1                0               0             1                 0               0              0                    0                  0                      0                    0                   1                             0                       1                          0                       0                     0                           0                     0                        0                     0                   1
1           0      0 -1.374820  -1.843875   5953                  0                 0               0                 1                0               0             1                 0               0              0                    0                  0                      0                    0                   1                             1                       0                          0                       0                     0                           0                     0                        0                     1                   0
2           0      0 -1.397994  -1.843875   5956                  0                 0               0                 0                0               0             1                 0               0              0                    0                  0                      0                    0                   1                             1                       0                          0                       0                     0                           1                     0                        0                     0                   0
3           0      0 -1.386407  -1.843875   5955                  0                 0               0                 0                1               0             1                 0               0              0                    0                  0                      0                    0                   1                             0                       0                          0                       1                     0                           0                     0                        0                     0                   0
4           0      0 -1.374820  -1.843875   5955                  0                 0               0                 0                1               0             1                 0               0              0                    0                  0                      0                    0                   1                             0                       0                          0                       1                     0                           0                     0                        0                     1                   0
...       ...    ...       ...        ...    ...                ...               ...             ...               ...              ...             ...           ...               ...             ...            ...                  ...                ...                    ...                  ...                 ...                           ...                     ...                        ...                     ...                   ...                         ...                   ...                      ...                   ...                 ...
300148      1      1 -0.297228   1.695692  69265                  0                 0               0                 0                1               1             0                 0               0              0                    0                  0                      1                    0                   0                             0                       0                          0                       1                     0                           0                     1                        0                     0                   0
300149      1      1 -0.250880   1.695692  77105                  0                 0               0                 0                1               1             0                 0               0              0                    0                  0                      1                    0                   0                             0                       0                          0                       0                     0                           0                     0                        0                     0                   1
300150      1      1  0.224188   1.695692  79099                  0                 0               0                 0                1               1             0                 0               0              0                    0                  0                      1                    0                   0                             1                       0                          0                       0                     0                           0                     0                        0                     0                   1
300151      1      1 -0.308815   1.695692  81585                  0                 0               0                 0                1               1             0                 0               0              0                    0                  0                      1                    0                   0                             1                       0                          0                       0                     0                           0                     1                        0                     0                   0
300152      1      1 -0.297228   1.695692  81585                  0                 0               0                 0                1               1             0                 0               0              0                    0                  0                      1                    0                   0                             0                       0                          0                       1                     0                           0                     1                        0                     0                   0

[300153 rows x 30 columns]